html,body,h1,h2,h3{
	margin:0;
	padding:0;
	font-size:20px;
}
body{
    text-align:center;
    background-image:url("news.jpg");
    background-position:center;
    background-repeat:norepeat;
    background-size:cover;
    margin:200px 30px;
    padding:20px 50px;
}

